<li class="nav-item">
    <a class="nav-link" href="https://github.com/robertsundstrom"><i class="fab fa-2x fa-github"></i><span class="d-block d-lg-none"> GitHub</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="https://www.youtube.com/channel/UCVdav9wE4kmtiEuk1_vG2_g"><i class="fab fa-2x fa-youtube"></i><span class="d-block d-lg-none"> YouTube</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/robertsundstrom/"><i class="fab fa-2x fa-linkedin"></i><span class="d-block d-lg-none"> LinkedIn</span></a>
</li>